@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->
<div class="page-content bg-white">
	<div class="content-block">
		<!-- About Us -->
		<div class="section-full bg-white content-inner about-us">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center section-head">
							<h1 class="title-head1">About Me</h1>
						</div>
						<div class="alignwide">
							<figure class="aligncenter">
								<img src="images/about.jpg" alt="">
							</figure>
						</div>
						<div class="blog-post blog-single blog-post-style-2">
							<div class="dlab-post-info">
								<div class="dlab-post-text text">
									<div class="row text-justify">
										<div class="col-lg-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisci elit. Nam imperdiet, orci sed volutpat tempor, nisl massa ullamcorper tortor, vitae vestibulu neque lacus em. Donec nisl purus, euismod vitae risu non, accumsan mollis urna. In consectetur ante, et interdum tortor. Aenean tristiquee dui vel semper. </p>
										</div>
										<div class="col-lg-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisci elit. Nam imperdiet, orci sed volutpat tempor, nisl massa ullamcorper tortor, vitae vestibulu neque lacus em. Donec nisl purus, euismod vitae risu non, accumsan mollis urna. In consectetur ante, et interdum tortor. Aenean tristiquee dui vel semper. </p>
										</div>
									</div>
									<div class="text-center">
										<ul class="list-inline link-btn-style m-b0">
											<li><a href="javascript:void(0);" class="btn-link"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);" class="btn-link"><i class="fa fa-twitter"></i></a></li>
											<li><a href="javascript:void(0);" class="btn-link"><i class="fa fa-snapchat-ghost"></i></a></li>
											<li><a href="javascript:void(0);" class="btn-link"><i class="fa fa-pinterest-p"></i></a></li>
											<li><a href="javascript:void(0);" class="btn-link"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us End -->
		<!-- subscribe -->
		<div class="section-full bg-gray subscribe-sc">
			<div class="container">
				<div class="row align-items-center subscribe-design">
					<div class="col-lg-7 col-md-7 d-none d-md-block">
						<img src="images/subscribe.png" alt="" />
					</div>
					<div class="col-lg-5 col-md-5">
						<form class="dzSubscribe dezPlaceAni" action="script/mailchamp.php" method="post">
							<h2>Subscribe to My Blog</h2>
							<div class="form-style subscribe">
								<div class="input-group">
									<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email">
									<div class="input-group-append">
										<button name="submit" value="Submit" type="submit" class="btn"><i class="la la-paper-plane"></i></button>
									</div>
								</div>
							</div>
							<div class="dzSubscribeMsg"></div>
						</form>
					</div>
				</div>
				<h2 class="subscribe-text">subscribe</h2>
			</div>
		</div>
		<!-- subscribe end -->
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->
<!-- Footer -->
<footer class="site-footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-2 col-md-6 d-md-none d-lg-block">
					<div class="widget">
						<img src="images/logo-white.png" alt="" />
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<h6 class="m-b30 footer-title"><span>Recent Post</span></h6>
					<div class="widget recent-posts-entry">
						<div class="widget-post-bx">
							<div class="widget-post clearfix">
								<div class="dlab-post-media"> <img src="images/blog/recent-blog/pic1.jpg" alt=""> </div>
								<div class="dlab-post-info">
									<div class="dlab-post-header">
										<h6 class="post-title"><a href="post-quote.html">Winter Fairytale</a></h6>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date">25 January, 2020</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="widget-post-bx">
							<div class="widget-post clearfix">
								<div class="dlab-post-media"> <img src="images/blog/recent-blog/pic2.jpg" alt=""> </div>
								<div class="dlab-post-info">
									<div class="dlab-post-header">
										<h6 class="post-title"><a href="post-link.html">Fruit & Flamingos</a></h6>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date">25 January, 2020</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="widget-post-bx">
							<div class="widget-post clearfix">
								<div class="dlab-post-media"> <img src="images/blog/recent-blog/pic3.jpg" alt=""> </div>
								<div class="dlab-post-info">
									<div class="dlab-post-header">
										<h6 class="post-title"><a href="post-gallery.html">Hawai Beaches</a></h6>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-date">25 January, 2020</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<h6 class="m-b30 footer-title"><span>My Blogs</span></h6>
					<a class="video widget relative popup-youtube overlay-black-middle" href="https://www.youtube.com/watch?v=VjlATH_rzYg">
						<img src="images/footer-video.jpg" alt="" />
						<span class="play-video"><i class="la la-play"></i></span>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12">
					<h6 class="m-b30 footer-title"><span>Subscribe</span></h6>
					<ul class="d-flex widget-social-ic">
						<li><a href="#" class="site-button-link"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="site-button-link"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="site-button-link"><i class="fa fa-pinterest-p"></i></a></li>
						<li><a href="#" class="site-button-link"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<span>Copyright © 2020 DexignZone.</span>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END-->
<button class="scroltop fa fa-chevron-up"></button>
	</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="~/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="~/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="~/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="~/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="~/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="~/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="~/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="~/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="~/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="~/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="~/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS -->
<script src="~/js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script><!-- TinyMCE RichTeckEditor  -->
<!-- Done switching script and links -->
<!-- /Tinymce Done-->
<script src="//cdn.tiny.cloud/1/3lwulzgbibotwwht2k2991x7r701wvjdbqxtg24b43c6z3sk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector: '#Body'
	});
</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
